@import '../base';

//navbar styles start here 
.navbar {
    .navbar-brand {
        font-size:1.5em;
        span {
            color:coral;
        }
    }
    .navbar-nav {
        .nav-link {
            font-size:1.1em;
            color:#222;
            text-align:center;
            &:hover {
                color:coral;
            }
        }
    }
}

.carousel {
    overflow:hidden;
    .carousel-inner {
        overflow:hidden;
        .carousel-item {
            position:relative;
            img {
                position:relative;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-size:cover;
            }
        }
    }
}