@import '../base';

//navbar styles start here 
.navbar {
    .navbar-brand {
        font-size:1.5em;
        span {
            color:coral;
        }
    }
    .navbar-nav {
        .nav-link {
            font-size:1.1em;
            color:#222;
            text-align:center;
            &:hover {
                color:coral;
            }
        }
    }
}

#filterForm {
    div {
        img {
            max-width:100%;
            min-height:60vh;
            background-size:cover;
            object-fit: cover;
        }
    }
}