body {
  max-width: 100%;
  overflow-x: hidden;
}

.footer {
  min-height: 50vh;
  background-image: url("../image_video/footer_image.jpg");
  background-size: cover;
  padding: 0;
  color: #fff;
}

.footer_link div a {
  display: grid;
  text-decoration: none;
  padding: 5px 20px;
  color: #fff;
}

.footer_link div a:hover {
  color: yellow;
}

.footer_color {
  background-color: black;
  min-height: 50vh;
  opacity: 0.7;
}

.footer_description p {
  color: yellow;
  padding: 10px;
}

.footer_description h3, h4 {
  padding: 15px;
}

img {
  max-width: 100%;
}

.fixed_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  z-index: 101;
}

.card {
  overflow: hidden;
  transition: all 0.4s;
}
.card img {
  transition: all 0.4s;
}
.card a {
  scale: 0;
}
.card .card-body {
  transition: all 0.2s;
  transition-delay: 0.1s;
}
.card:hover img {
  transform: translateY(-20px) scale(0.7);
}
.card:hover .card-body {
  transform: translateY(-45px);
}
.card:hover a {
  scale: 1;
}

.welcomeImg {
  /* max-width:30vw; */
  height: 280px;
  background-size: cover;
  overflow: hidden;
}

.welcomeImg img {
  overflow: hidden;
  transition: all 0.2s;
}

.welcomeImg img:hover {
  scale: 1.1;
}

.navbar .navbar-brand {
  font-size: 1.5em;
}
.navbar .navbar-brand span {
  color: coral;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
  color: #222;
  text-align: center;
}
.navbar .navbar-nav .nav-link:hover {
  color: coral;
}

.foodStylesContainer img {
  min-height: 250px;
  background-size: cover;
}

.scrollNavBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 1002;
  background: rgba(51, 51, 51, 0.8980392157);
  display: flex;
  transform: translateY(-100%);
  transition: transform 0.4s;
}

.scrollNavBar.activation {
  transform: translateY(0);
  transition: transform 0.4s;
}

.scrollTopic {
  display: flex;
  justify-content: flex-start;
}

.scroll_nav_link ul li a {
  font-size: 1.1em;
}
.scroll_nav_link ul li a:hover {
  border-bottom: 1px solid #222;
}

.sectionborder {
  transition: all 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 0.8em;
}
.sectionborder div a {
  transform: translateX(-50px);
  opacity: 0;
  transition: all 0.4s;
}
.sectionborder:hover {
  transform: translateY(-20px);
}
.sectionborder:hover a {
  transform: translateX(20px);
  opacity: 1;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  color: transparent;
}

.mainDescription {
  background-image: url("../../assets/images/Home/mainimage.jpg");
  min-height: 100vh;
  background-size: cover;
  max-width: 100%;
  display: grid;
  place-items: center;
}
.mainDescription .img_row .mainName {
  font-size: 3.5em;
}
.mainDescription .img_row .mainName span {
  color: coral;
}
.mainDescription .img_row p {
  font-size: 1.2em;
}
.mainDescription .img_row .text_row {
  background-color: rgba(34, 34, 34, 0.6509803922);
}

.imgItem {
  position: relative;
  overflow: hidden;
}
.imgItem img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.imgItem div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0.8em;
  overflow: auto;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.8588235294);
  transform: translateY(100%);
  transition: all 0.4s;
}
.imgItem .subItem {
  font-size: 0.8em;
}
.imgItem:hover div {
  transform: translateY(0);
}

.explorerIslandContainer {
  position: relative;
}
.explorerIslandContainer .explorerIslandDetails {
  display: none;
  position: relative;
  transition: all 0.5s;
}
.explorerIslandContainer:hover .explorerIslandDetails {
  display: block;
  transition: all 0.5s;
}

@media only screen and (max-width: 767px) {
  .scrollNavBar {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */